<?xml version="1.0" encoding="UTF-8"?>

<!-- 이걸 써야지만 mapper로 인정 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.member.MemberMapper">

	<!-- 맵핑작업 -->
	<resultMap type="com.care.root.member.dto.MemberDTO" id="member">
		<id property="id" column="id"/><!-- primary키를 id로 지정 -->
		<result property="pw" column="pw"/>
		<result property="addr" column="addr"/>		
		<result property="limitTime" column="limit_time"/>	<!-- 자바 dto는 합성어는 대문자, db에 있는 합성어는 _ -->
		<result property="sessionId" column="session_id"/>		
	</resultMap>
	<select id="userCheck" resultMap="member"><!-- resultMap : 리턴타입을 맵핑 -->
		select * from membership where id=#{id}
	</select>
	<select id="memberInfo" resultMap="member">
		select * from membership
	</select>
	<insert id="register">
  		insert into membership(id,pw,addr) values(#{id}, #{pw}, #{addr}) <!-- dto 값은 5개인데 여기는 3개만 넣을거라 문제가 생겨서 지정해준다 -->
  	</insert>
  	
  	<update id="keepLogin">
  		update membership set session_id=#{sessionId},
  		limit_time=#{limitDate} where id=#{id}
  	</update>
  	
  	<!-- 자동 로그인 -->
  	<select id="getUserSessionId" resultMap="member">
  		select * from membership where session_id = #{sessionId}
  	</select>
</mapper>